.container{
    display: flex;
}
.product-card{
    background-color: antiquewhite;
    color: dimgray;
    width: 200px;
    border-radius: 5px;
    margin: 10px 10px 20px;
}

.product-card .title{
    font-size: 125%;
}

.flex{

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}